html{
    scroll-behavior: smooth;
}

body{
    background-color:#313639;
    font-family: "Raleway", sans-serif;
}

#header{
    width: 100%;
    height: 5vh;
    background-color: #313639;
    background-size: cover;
    background-position: center;
    z-index: 20;
}


.container{
    padding: 0px 3%;
}

nav{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
} 

nav ul li a{
    color:rgb(240, 240, 240);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    z-index: 0;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 20px;
    background: rgb(32, 163, 158);
    position: absolute;
    left: -4;
    bottom: -1px;
    transition: 0.5s;
    z-index: -1;
    border-radius: 5px;
}

nav ul li a:hover::after{
    width: 110%;
}

/* ----------------- title ------------ */

#title{
    background-color: #232729;
}


.main-title{
    font-size: 48px;
    color:rgb(240, 240, 240);
    text-align: center;
}

.sub-title{
    font-size: 36px;
    color:rgb(240, 240, 240);
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 25px
}


/* -------------------- Portfolio -------------------- */

.port-header{
    font-size: 40px;
    color:rgb(240, 240, 240);
    text-align: center;
}

.port-header showcase{
    color: rgb(32, 163, 158);
}

.tag-engine{
    background-color: grey;
    color: white;
    border-radius: 3px;
}

.tag-language{
    background-color: green;
    color: white;
    border-radius: 3px;
}

.tag-skills{
    background-color: rgb(32, 163, 158);
    color: white;
    border-radius: 3px;
}

.tag-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}

.content-bullets{
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: 200px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.port-col-1{
    flex-basis: 35%;
}

.port-col-1 img{
    width: 100%;
    border-radius: 50px;
}

.port-col-2{
    flex-basis: 60%;
}

.port-text p{
    font-size: 22px;
    color:rgb(240, 240, 240);
}

.tab-titles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.tab-links{
    justify-content: center;
    margin-right: 350px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-weight: 750;
    cursor: pointer;
    position: relative;
    color: white;
    transition: transform 0.3s ease;
}


.tab-links:hover{
    color: rgb(32, 163, 158);
    transform: scale(1.4);
}

.tab-links.active{
    color: rgb(32, 163, 158);
    transform: scale(1.4);
}

.tab-contents{
    display: none;
    animation: fadeEffect 1s;
}

.tab-contents p{
    text-align: left;
    font-size: 25px;
}

.tab-pictures{
    width: 100%;
    display: none;
    animation: fadeEffect 1s;
    filter: drop-shadow(0px 0px 10px rgb(32, 163, 158));
}

.learn{
    font-family: "Raleway", sans-serif;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    align-items: center;
    background-color: rgb(32, 163, 158);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 200;
    color: white;
    cursor: pointer;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/* -------------------- about -------------------- */

#about{
    background-color: #232729;
    padding: 100px 0;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

.about-col-1{
    flex-basis: 30%;
    padding: 35px;
}

.about-col-1 img{
    width: 100%;
    border-radius: 500px;
    animation: fadeEffect 3s;
    filter: drop-shadow(0px 0px 10px rgb(32, 163, 158));
}

.about-col-2{
    flex-basis: 20%;

}

/*.background{
    width: 500px;
    height: 500px;
    background-color: ;
}*/

.about-text h1{
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
    color:rgb(240, 240, 240);

}

.about-text p{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color:rgb(240, 240, 240);
    animation: fadeEffect 3s;
}

.about-text name{
    font-size: 60px;
    color:rgb(32, 163, 158);
}



/* -------------------- Contact Page -------------------- */

#contact{
    padding: 100px 0;
    background-color: #232729;
}

.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.contact-1{
    flex-basis: 30%;
    padding: 30px;
}

.contact-1 img{
    width: 100%;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 10px rgb(32, 163, 158));
}

.contact-2{
    flex-basis: 20%;
}

.header{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color:white;
}

.header contact{
    font-size: 60px;
    color:rgb(32, 163, 158);
}

.links{
    font-family: "Raleway", sans-serif;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    position: relative;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(32, 163, 158);
    border-radius: 20px;
    border: none;
    font-size: 30px;
    font-weight: 200;
    color: white;
    cursor: pointer;
}